# Neon Database Connection String
# Dapatkan dari https://console.neon.tech/ -> Project -> Connection Details
DATABASE_URL="postgresql://user:password@ep-xxx-pooler.region.aws.neon.tech/dbname?sslmode=require"
